#aboutMe .container {
  display: flex;
  margin: 150px;
  font-size: 18px;
}
.title {
  display: flex;
  align-items: center;
}
.title > div:first-child {
  color: var(--myred);
  margin-top: auto;
}
.title > div:nth-child(2) {
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
.title > div {
  margin-right: 10px;
  font-size: 30px;
}
.title .lineH {
  width: 250px;
  height: 1px;
  background-color: white;
}
.techResume {
  flex-basis: 1 0 auto;
}
.techResume > *:not(.title) {
  color: rgb(184, 157, 157);
}
.profile {
  position: relative;
  height: 400px;
  flex: 1 0 auto;
  --left: 0px;
}
.profileImg,
.profileMock {
  height: 270px;
  width: 270px;
}
.profileImg {
  position: absolute;
  background-color: var(--myred);
  border-radius: 5px;
  top: 90px;
  left: calc(70px - var(--left));
  z-index: 90;
  transition: background-color 0.4s ease-in-out;
}
.profileMock {
  position: absolute;
  left: calc(100px - var(--left));
  top: 120px;
  border: 3px solid var(--myred);
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}
.profileImg:hover {
  background-color: white;
}
.profileImg:hover + .profileMock {
  transform: translate(-10px, -10px);
}
.tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
