main {
  margin: 0 auto;
  padding: 0 150px;
}
#intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 0px;
  align-items: center;
  max-width: 1000px;
  justify-content: flex-start;
}
.introduction {
  display: flex;
  flex-direction: column;
}
.introduction > div:first-child {
  color: var(--myred);
  animation: ShowUp 0.8s ease-in-out;
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.introduction button {
  width: 150px;
  border: 2px solid var(--myred);
  background-color: transparent;
  border-radius: 5px;
  padding: 15px;
  animation: ShowUp 0.8s ease-in-out;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;

  color: var(--myred);
  transition: background-color 0.4s ease-in-out;

  background-color: rgb(193, 170, 170);
}

.introduction > h2 {
  font-size: clamp(40px, 7vw, 80px);
  color: #fff;
  opacity: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0px;
}
.introduction > h2:nth-child(2) {
  animation: ShowUp 0.8s ease-in-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  
}
.introduction > h2:nth-child(3) {
  animation: ShowUp 1.2s ease-in-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  color: #fff;
  opacity: 0;
 
}
.introduction p {
  max-width: 540px;
  animation: ShowUp 0.8s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  color: #fff;
  opacity: 0;
}
.introduction > *:not(div:nth-child(2)) {
  margin-top: 20px;
}
@keyframes ShowUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 917px) {
  .navbar {
    padding: 0 25px;
  }
  main {
    padding: 0px 55px;
  }
}
