#MoreProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  max-width: 1000px;
}

#MoreProjects > h2 {
  margin-top: 60px;
  color: #fff;
  opacity: 0;
  font-weight: 600;
}
#MoreProjects > p {
  margin-bottom: 60px;
  color: var(--myred);
  opacity: 0;
}

#MoreProjects .sideprojects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-gap: 20px;
}

.sideprojects footer ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.sideprojects ul > li {
  margin-right: 10px;
}

.sideprojects > li {
  background: var(--myred);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 20px black;
  opacity: 0;
}

.sideprojects > li:hover {
  transform: translateY(-40px);
}

.sideprojects header .icons {
  display: flex;
  justify-content: space-between;
}

.sideprojects .projectInner {
  padding: 30px;
}

.sideprojects .icons > a {
  transition: all 0.4s ease-in;
}
.sideprojects .icons > a:hover {
  color: black;
  transform: rotateZ(360deg);
}

@media (max-width: 1240px) {
  #MoreProjects > .sideprojects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1070px) {
  #MoreProjects > .sideprojects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 995px) {
  #MoreProjects > .sideprojects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  #MoreProjects > .sideprojects {
    grid-template-columns: 1fr;
  }
}
