#Projects .project {
  display: flex;
  position: relative;
}

#Projects .project .img {
  width: 580px;
  height: 350px;
  border-radius: 10px;
  background: tomato;
  margin: 20px 90px;
  box-shadow: 1px 1px 10px 1px;
}

#Projects .project .ProjectInfo {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 70px;
  left: 600px;
  flex-direction: column;
}
.project .ProjectInfo .names {
  align-self: flex-end;
}
.project .names > div:first-child {
  color: var(--myred);
}
.project .names > div:nth-child(2) {
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}
.project .description {
  background: rgb(35, 34, 34);
  border-radius: 5px;
  padding: 5px 0px;
  padding-left: 60px;
  padding-right: 10px;
  box-shadow: 1px 1px 10px 1px;
}
.project .ProjectInfo .tech {
  display: flex;
  justify-content: flex-end;
}
.project .ProjectInfo .tech > div {
  margin: 10px;
}
.project .ProjectInfo .review {
  display: flex;
  justify-content: flex-end;
}

.project .ProjectInfo .review > i {
  margin: 10px;
}

#Projects .projectI {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 1110px;
}
#Projects .title {
  width: 650px;
  margin-left: 90px;
}

#Projects .projectI .img {
  width: 580px;
  height: 350px;
  border-radius: 10px;
  background: tomato;
  box-shadow: 1px 1px 10px 1px;
}

#Projects .projectI .ProjectInfo {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 70px;
  left: 90px;
  flex-direction: column;
}
.ProjectInfo .projectI .names {
  align-self: flex-end;
}
.projectI .names > div:first-child {
  color: var(--myred);
}
.projectI .names > div:nth-child(2) {
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}
.projectI .description {
  background: rgb(35, 34, 34);
  border-radius: 5px;
  padding-right: 50px;
  padding-left: 10px;
  box-shadow: 1px 1px 10px 1px;
}
.projectI .ProjectInfo .tech {
  display: flex;
  justify-content: flex-start;
}
.projectI .ProjectInfo .tech > div {
  margin: 10px;
}
.projectI .ProjectInfo .review {
  display: flex;
  justify-content: flex-start;
}

.projectI .ProjectInfo .review > i {
  margin: 10px;
}
