#Projects {
  padding-top: 100px;
}
#title,
#Project1,
#Project2,
#Project3,
#Project4 {
  opacity: 0;
}

#Projects > ul > li {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  margin-bottom: 100px;
}

#Projects .info > .icons a {
  transition: all 0.4s ease-in-out;
}
#Projects .info > .icons a:hover {
  transform: rotateZ(360deg);
  color: black;
}

#Projects > ul {
  padding: 0px;
  margin: 0px;
}
#Projects li:nth-of-type(2n + 1) ul.tech {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}

#Projects ul.tech li {
  margin-left: 20px;
  margin-bottom: 5px;
}

#Projects li .info {
  grid-row: 1 / -1;
  grid-column: 7 / -1;
  text-align: right;
  z-index: 2;
}
#Projects li .projectImg img {
  height: 100%;
  width: 100%;
      object-fit: contain;

}
#Projects li .projectImg {
  border-radius: 10px;
  position: relative;

  grid-row: 1 / -1;
  grid-column: 1 / 8;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImg > div {
  width: 40vw;
  height: 25vw;
  background: var(--myred);
  box-shadow: 0 0 20px;
  border-radius: 5px;
}
.projectImg > div > a {
  display: block;
  width: 100%;
  height: 100%;
}
#Project1 .projectImg > div > a > div{
  width: 100%;
  height: 100%;
  background-image: url("../img/Project01.png");
}
#Project2 .projectImg > div > a > div{
  width: 100%;
  height: 100%;
  background-image: url("../img/Project2.png");
}

#Project3 .projectImg > div > a > div{
  width: 100%;
  height: 100%;
  background-image: url("../img/Project3.png");
}

#Project4 .projectImg > div > a > div{
  width: 100%;
  height: 100%;
  background-image: url("../img/Project4.png");
}


#Projects .info .description {
  background: rgb(94, 97, 116);
  border-radius: 10px;
  color: #fff;
  padding: 25px;
  box-shadow: 0 0 20px black;
}
.description p {
  margin: 0px;
}
.info > p {
  font-size: 16px;
  font-weight: 600;
}
.info h3 a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(14px, 5vw, 24px);
  padding: 0px;
  margin: 0px;
}

#Projects h2 {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#Projects h2::before {
  content: "02.";
  color: var(--myred);
  margin-right: 10px;
}
#Projects h2::after {
  content: "";
  width: 200px;
  height: 1px;
  margin-left: 10px;
  background: #fff;
}

#Projects {
  max-width: 1025px;
  margin: 0px auto;
}

#Projects li:nth-of-type(2n) .info {
  grid-column: 1 / 7;
  text-align: left;
}
#Projects li:nth-of-type(2n) .projectImg {
  grid-column: 6 / -1;
}

#Projects li:nth-of-type(2n) .info ul {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}

#Projects li:nth-of-type(2n) .info ul li {
  margin: 0px;
  margin-right: 20px;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  #Projects h2 {
    font-size: 4vw;
  }
  #Projects h2::after {
    width: 20vw;
  }
}

@media (max-width: 1080px) {
  #Projects li .info {
    grid-column: 5 / -1;
  }
  #Projects li:nth-of-type(2n) > .info {
    grid-column: 1 / 9;
  }
}

@media (max-width: 760px) {
  #Projects li .projectImg {
    grid-column: 1 / -1;
  }
  .projectImg > div {
    width: 100%;
    height: 100%;
  }
  #Projects li .info {
    grid-column: 1 / -1;
    text-align: left;
    margin: 50px;
  }

  #Projects > .info > .description {
    background: none;
    text-align: left;
    box-shadow: 0px;

    padding: 0px;
  }
  #Projects li:nth-of-type(2n + 1) .info > ul.tech {
    justify-content: flex-start;
  }
  #Projects li:nth-of-type(2n + 1) ul.tech li {
    margin: 0px;
    margin-right: 10px;
  }
  #Projects li:nth-of-type(2n) > ul.tech > li {
    margin: 0px;
    margin-right: 10px;
  }
  #Projects li:nth-of-type(2n) .projectImg {
    grid-column: 1 / -1;
  }
  #Projects li:nth-of-type(2n) .info {
    grid-column: 1/ -1;
    text-align: right;
    margin: 50px;
  }
  #Projects li:nth-of-type(2n) .info .description {
    text-align: right;
  }
  #Projects li:nth-of-type(2n) > .info > ul.tech {
    justify-content: flex-end;
  }
  #Projects li:nth-of-type(2n) > .info > ul.tech > li {
    margin: 0px;
    margin-left: 10px;
  }
}
