.mainBar {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mainBar > .container {
  width: 100%;
}
.mainBar > div:first-child {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;

  background-color: grey;
}

.mainBar > div:nth-child(2) {
  min-height: 1000px;
  background-color: grey;
}
.mainBar > div:nth-child(3) {
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 100px;
  background-color: grey;
}
.mainBar .emailBar,
.contactBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.line {
  width: 1px;
  height: 100px;
  margin-top: 30px;
  background-color: honeydew;
}
.emailBar > * {
  margin-top: 30px;
}

.emailBar > i {
  color: honeydew;
  transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}
.emailBar > i:hover {
  color: var(--myred);
  transform: translateY(-5px);
}
.contactBar h1 {
  writing-mode: vertical-rl;
  font-size: 1rem;
  color: honeydew;
  transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.contactBar h1:hover {
  color: var(--myred);
  transform: translateY(-5px);
}

.emailBar,
.contactBar {
  animation: letterAppear 0.4s ease-in-out;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 10;
}

@media (max-width: 917px) {
  .mainBar .emailBar,
  .contactBar {
    display: none;
  }
  .mainBar .container {
    margin: 0px auto;
  }
  .mainBar .introduction {
    margin: 1vw;
  }
  br {
    display: none;
  }
}
